@import './abstracts/variables';
@import './abstracts/mixins';

.App {
  font-family: $secondary-font;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  background-color: white;
  h1, h2 {
    font-family: $primary-font;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $dark-color
    }
  }
}

.flex {
  width: 100%;
  @include flex(space-evenly);
}