@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./abstracts/helpers";

body {
  cursor: default;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $darkest-color;
  font-family: -apple-system, BlinkMacSystemFont, "Anton", "Patrick Hand", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#xiti {
  background-color: #8fdee3;
  width: 100%;
}
#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Anton", "Patrick Hand", "Courier New", monospace;
}

body:not(.user-is-tabbing) {
  button:focus,
  input:focus,
  select:focus,
  textarea:focus,
  a:focus {
    outline: none;
  }
}

body.user-is-tabbing {
  button:focus,
  input:focus,
  select:focus,
  textarea:focus,
  a:focus {
    outline-color: $secondary-color;
  }
}
