//colors
$primary-color: #8fdee3;
$secondary-color: #74c3e2;
$third-color: #dbf4f6;
$success-color: #8af2c7;
$hot-color: #ff6969;
$light-color: white;
$grey-color: #f5f5f5;
$darkgrey-color: #e2e2e2;
$dark-color: #595959;
$darkest-color: #1c1c1c;

//fonts
$primary-font: "Anton", sans-serif;
$secondary-font: "Patrick Hand", cursive;
