@import '../abstracts/variables';
@import '../abstracts/mixins';

.group {
    margin: 1em 0;
    > * {
        margin: 0;
    }
}

.terms, .privacy, .faq {
    width: 70%;
    margin: 2.5em 15%;
    > wired-card {
        width: 100%;
            > * {
                margin: 1em;
            }
    }
    .faq-img {
        width: 50%;
        min-width: 15em;
        max-width: 25em;
    }
}

a.blue {
    color: $secondary-color;
}
