@import '../abstracts/variables';
@import '../abstracts/mixins';

.home {
    margin: 0 0 2em 0;
}

.content-display {
    padding: 0 1em;

    .title-line {
        width: 50%;
        margin: 0 0.5em;
        @include flex(flex-start);
        flex-direction: row;
        > * {
            margin: 0.5em 0;
            padding: 0 0.5em;
        }
        .trend {
            @include flex(center);
            color: $dark-color;
            > * {
                cursor: pointer;
                padding: 0 0.5em;
            }
        }
        .isActiveUnderlined {
            color: $darkest-color;
            h3 {
                border-bottom: 2px solid $primary-color;
            }
        }
    }
    
    .categories {
        @include flex(space-evenly);
        color: $dark-color;
        padding: 0;
        margin: 0.5em 0;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        white-space: nowrap;
        max-width: 100%;
        > * {
            padding: 0 0.5em;
            cursor: pointer;
        }
    }
    .isActive {
        color: $darkest-color;
        border: 2px solid $primary-color;
    }

}

.only-trendy {
    .new-card {
        display: none;
        
    }
}

.only-new {
    .trendy-card {        
            display: none;
    }
    .new-panel {
        max-width: 20em;
        height: 20em;
        .panel-profile-pic {
            display: block;
        }
    }
}

.panels {
    margin: 1em 0.5em;
    > * {
        margin: 1em 1em;
    }
}

.more {
    margin-left: 75%;
}

@media screen and (max-width: 810px) {
    .categories { 
        >* {
            flex-basis: 15%;
        }
    }
    .more {
        margin: 1em 0;
        text-align: center;
    }
}