@import "../abstracts/variables";
@import "../abstracts/mixins";

.content {
    pointer-events: none;
}

.content-display {
    .title-line {
        width: 50%;
        margin: 0 1.5em;
        @include flex(flex-start);
        flex-direction: row;
        flex-wrap: wrap;
        > * {
            margin: 0.5em 0;
            padding: 0 0.5em;
        }
        .trend {
            @include flex(center);
            color: $dark-color;
            > * {
                cursor: pointer;
                padding: 0 0.5em;
            }
        }
        .separator {
            flex-basis: 1px;
            height: 35px;
            margin-right: 1em;
            border-right: 1px solid $darkgrey-color;
        }
        .isActiveUnderlined {
            color: $darkest-color;
            h3 {
                border-bottom: 2px solid $primary-color;
            }
        }
    }

    .categories {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        color: $dark-color;
        margin: 0;
        padding: 1.5em 2em 1.5em 2em;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        white-space: nowrap;
        max-width: 100%;
        border-bottom: 1px solid $darkgrey-color;
        border-top: 1px solid $darkgrey-color;
        button {
            cursor: pointer;
        }
    }
    .isActive {
        color: $darkest-color;
        border: 2px solid $primary-color !important;
    }
}

.only-new {
    .new-panel {
        max-width: 20em;
        height: 20em !important;
        .panel-image {
            height: 70% !important;
        }
        .panel-banner {
            height: 30% !important;
            > a:first-child {
                display: block;
            }
        }
    }
}

.more {
    background-color: $grey-color;
    margin: 0;
    padding: 0 0 2em 75%;
}

.not-found {
    height: 100%;
    min-height: 50vh;
    img {
        max-height: 20em;
        max-width: 100%;
    }
}

@media screen and (max-width: 810px) {
    .categories {
        
        > * {
            flex-basis: 15%;
        }
    }
    .more {
        padding: 1em 0 2em 0;
        text-align: center;
    }
    .content-display {
        .title-line {
            width: 100%;
            h3 {
              margin: 0.5em 0;
            }
        }
    }
    .only-new {
        .new-panel {
            .panel-banner {
                > a:first-child {
                    display: none;
                }
            }
        }
    }
    
}

@media screen and (max-width: 450px) {
    .content-display {
        .title-line {
            justify-content: center;
            margin: 0;
            > * {
                flex-basis: 30%;
                &:nth-last-child(2){
                    flex-basis: 50%;
                }
            }
        }
    }
}