@import '../abstracts/variables';
@import '../abstracts/mixins';


.footer {
  position: relative;
  @include flex(space-evenly);
  flex-direction: column;
  height: 10em;
  width: 100%;
  margin: 1em 0 0 0;
  color: $dark-color;
  background-color: $primary-color;
  .circle {
    height: 5em;
    width: 5em;
    background-color: $secondary-color;
    border-radius: 50%;
  }
  .footer-list {
    height: 100%;
    width: 70vw;
    margin: 0;
    padding: 0;
    @include flex(space-evenly);
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    white-space: nowrap;
    > * {
      cursor: pointer;
    }
  } 
  .social {
    white-space: nowrap;
    cursor: pointer;
  }
}