@import '../abstracts/variables';
@import '../abstracts/mixins';

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:before,
    &:after {
      content: '';
      display: block;
    }
    flex-direction: row;
    width: 100%;
    //height: 7em;
    //padding-top: 0.5em;
    height: 8em;
    margin-bottom: 1em;
    color: $darkest-color;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: $primary-color;
    overflow: hidden;
    .circle {
      height: 5em;
      width: 5em;
    }
  }
  
  .fullHero {
    @extend .hero;
    height: 9em;
    img {
      max-width: 10em;
    }

  }

@media screen and (max-width: 810px) {
  .fullHero {
    img {
      max-width: 8em;
    }

  }
}

