@import '../abstracts/variables';
@import '../abstracts/mixins';

.hero {
  @include flex(space-evenly);
    flex-direction: row;
    width: 100%;
    height: 10em;
    color: $darkest-color;
    background-color: $primary-color;
    overflow: hidden;
    .circle {
      height: 5em;
      width: 5em;
    }
  }
  
  .fullHero {
    @extend .hero;
    img {
      max-width: 10em;
    }

  }

@media screen and (max-width: 810px) {
  .fullHero {
    img {
      max-width: 8em;
    }

  }
}

