@import "../abstracts/variables";
@import "../abstracts/mixins";

.info-tab {
    > wired-card {
        width: 70%;
        padding: 1em 0;
        margin: 1em 0;
    }

    .default-banner {
        white-space: nowrap;
        width: 90%;
        margin: 0 5%;
    }
}

.zoom-tab {
    > wired-card {
        width: 90%;
    }
}

.info-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 95%;
    margin: 2em 2.5% 0 2.5%;
    > * {
        padding: 1em 1em;
    }
    .author-info {
        width: 15%;
        > * {
            margin-bottom: 0.5em;
        }
        .author-name {
            > * {
                margin: 0;
                padding: 0;
            }
        }
    }
    .content-info {
        wired-card {
            width: auto;
            > * {
                width: 80%;
                padding: 0 10%;
            }
        }
        img {
            display: none;
        }
        iframe {
            overflow: hidden;
            max-width: 100%;
        }
    }
}

.reply {
    width: inherit;
    margin: 0;
    padding-right: 10%;
}

.none {
    display: none;
}

.comments {
    width: 90%;
    padding: 0;
    margin: 0 5%;
}

.comment-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    button {
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        background-color: #ffffff;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #666666;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 0.5em 1em;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
        &:hover {
          background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
          background-color: #f6f6f6;
        }
        &:active {
          position: relative;
          top: 1px;
        }
    }      
    .panel-profile-pic {
        margin-top: 2em;
        height: 4em;
        border-radius: 50%;
        object-fit: cover;
        width: 4em;
    }
    .comment-block {
        > wired-card {
            width: 90%;
        }
        width: 70%;
        flex-basis: 90%;
        margin-bottom: 1em;
    }
    .comment-body {
        > wired-textarea {
            width: 90%;
        }
        text-align: left;
        padding: 0 2em;
        margin: 0.5em;
        img {
            width: 100%;
        }
    }
    .comment-upper-banner {
        @include flex(space-between);
        white-space: nowrap;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 5%;
        > * {
            margin: 0;
            padding: 0;
        }
    }
    .comment-mid-banner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        > img {
            padding: 1em;
        }
    }
    .comment-bottom-banner {
        white-space: nowrap;
        width: 90%;
        margin: 0.5em 5%;
        .send-btn {
            margin-left: 0.5em;
        }
    }
    

    .left-block {
        @include flex(flex-start);
        > * {
            white-space: nowrap;
            padding: 0 0.5em;
        }
    }
    .replies {
        margin-left: 2em;
        width: 100%;
    }
}

.comment-title {
    flex-wrap: wrap;
    white-space: nowrap;
    color: $darkest-color;
    width: 100%;
    margin: 2em 0;
    > img {
        margin: 0;
        height: 1.5em;
        width: 3.5em;
    }
    > .line {
        flex-basis: 60%;
        height: 0.1em;
        background-color: $darkest-color;
        margin: 1em 1em;
    }
}

.heart {
    margin-left: auto;
    min-height: 1.5em;
    >wired-spinner {
        transform: scale(0.5);
    }
}

@media screen and (max-width: 850px) {
    .default-banner {
        .time-block {
            display: none;
        }
    }

    .info-banner {
        flex-wrap: wrap;
    }
    .info-tab {
        > wired-card {
            width: 90%;
        }
    }

    .comment-banner {
        justify-content: center;
        .panel-profile-pic {
            margin: 0;
        }
        .replies {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 450px) {
    .comment-banner {
        .comment-upper-banner {
            @include flex(center);
            .response > p {
                display: none;
            }
        }
    }
}