@import '../abstracts/variables';
@import '../abstracts/mixins';

.reset {
    > * {
        margin: 0;
        padding: 0;
    }
}

.flex {
    @include flex(space-evenly);
}

.info-tab {
    > wired-card {
        width: 95%;
        padding: 1em 0;
        margin: 1em 0;
    }
    .icon {
        height: 1.5em;       
    }
    .sm-icon {
        padding: 0 0.2em;
        height: 0.5em; 
    }
    .md-icon {
        padding: 0 0.2em;
        height: 1em; 
    }

    .heart {
        margin-left: auto;
    }
    
    .default-banner  {
        white-space: nowrap;
        width: 90%;
        margin: 0 1em;
    }   
}

.info-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 95%;
    margin: 0 2.5%;
    > * {
        padding: 1em 1em;
    }
    .author-info {
        flex-direction: column;
        width: 10%;
        .panel-profile-pic {
            height: 5em;
            border-radius: 50%;
            object-fit: cover;
            border-radius: 50%;
        }
        .author-name {
            > * {
                margin: 0;
                padding: 0 1em;
            }
        }
    }
    .content-info {
        wired-card {
            width: auto;
            > * {
                width: 80%;
                padding: 0 10%;
            }
        }
        img {
            display: none;
        }
    
    }
}

.none {
    display: none;
}

.active{
    display: flex;
}

.comments {
    width: 90%;
    margin-right: 5%;
    margin-left: auto;
}

.comment-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    .panel-profile-pic {
        margin-top: 2em;
        height: 4em;
        border-radius: 50%;
        object-fit: cover;
        border-radius: 50%;
        width: 4em;
    }
    .comment-block {
        width: 70%;
        flex-basis: 90%;
        margin-bottom: 1em;
    }
    .comment-body {
        text-align: left;
        padding: 0 2em;
        margin: 0.5em;     
    }
    .comment-upper-banner {
        @include flex(space-between);
        width: 90%;
        margin: 0 5%;
        > * {
            margin: 0;
            padding: 0;
        }
    }
    .comment-mid-banner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        > img {
            padding: 1em;
        }
    }
    .comment-bottom-banner {
        @include flex(space-between);
        width: 90%;
        margin: 0.5em 5%;
    }

    .left-block {
        @include flex(flex-start);
        > * {
            white-space: nowrap;
            padding: 0 0.5em;
        }
    }
    .replies {
        margin-left: 5em;
        width: 100%
    }
}

.comment-title {
    flex-wrap: wrap;
    white-space: nowrap;
    color: $darkest-color;
    width: 60%;
    > h3 {
        flex-basis: 20%;

    }
    > .line {
        height: 0.1em;
        flex-basis: 60%;
        background-color: $darkest-color;
        margin: 0 1em;
    }
}


@media screen and (max-width: 850px) {
    
    .default-banner  {
        .time-block {
            display: none;
        }
    }

    .info-banner {
        flex-wrap: wrap;
    }
    .comment-banner {
        justify-content: center;
        .panel-profile-pic {
            margin: 0;
        }
        .comment-body {
            center {
                display: none;
            }
        }
    }
}