@import '../abstracts/variables';
@import '../abstracts/mixins';

.Nav {
    flex-direction: row;
    background-color: white;
    color: $darkest-color;
    height: 5em;
    width: 100%;
    .title {
      margin-right: auto;
      padding-left: 1em;
      > * {
        padding-left: 1em;
      }
    }
    h1 {
      font-family: $primary-font;
      text-decoration: none;
      color: inherit;
    }
    ul {
      @include flex(flex-end);
      padding-right: 2em;
      li {
        padding: 1em;
        list-style-type: none;
      }
    }  
  }

@media screen and (max-width: 700px) {
  .search {
    display: none;
  }
  .nav-blog {
    display: none;
  }
}