@import '../abstracts/variables';
@import '../abstracts/mixins';


.flex {
    width: 100%;
    @include flex(center);
}

.nav-reader {
    width: 100%;
    margin-bottom: 1em;
}

.nav-reader-list {
    margin: 0;
    padding: 0;
    @include flex(space-evenly);
    flex-direction: row;
    background-color: $primary-color;
    color: $darkest-color;
    height: auto;
    min-height: 2em;
    list-style-type: none;
    .title {
        padding-left: 2em;
    }
    h1 {
        margin-top: 0.5em;
    }
    .login {
        padding-right: 2em;
    }
    p {
        margin: 0.5em 0;
        white-space: nowrap;
    }
    .episode-number > * {
        padding: 0 0.2em;
    }
    .post-title > * {
        padding: 0 0.1em;
    }
}

.previous,.next > * {
    cursor: pointer;
}

.icon {
    cursor: pointer;
    padding: 0 0.5em;
    height: 1.5em;
}

.disabled {
    > * {
        color: $dark-color;
    }
}

@media screen and (max-width: 850px) {
    .nav-reader-list {
        width: 100%;
        flex-wrap: wrap;
        p {
            white-space: normal;
        }
        .title {
            order: 1;
            flex-basis: 40%;
        }
        .icons {
            order: 4;
            flex-basis: 40%;
        }
        .login {
            order: 2;
            flex-basis: 40%;
        }
        .arrows {
            order: 3;
            flex-basis: 40%;
            .episode {
                display: none;
            }
        }
        .post-title {
            width: 100%;
            background-color: $secondary-color;
            order: 5;
            flex-basis: 100%;
        }
    }
}