@import "../abstracts/variables";
@import "../abstracts/mixins";

.nav-reader-bottom {
    display: none;
    position: fixed;
    transition: bottom 0.3s;
    z-index: 1;
    bottom: 0;
    height: 3em;
    width: 100%;
}

.nav-reader-list-bottom {
    margin: 0;
    padding: 0 0.5em;
    height: inherit;
    width: 100%;
    @include flex(space-evenly);
    flex-direction: row;
    background-color: $primary-color;
    color: $darkest-color;
    list-style-type: none;
}

.nav-reader {
    position: fixed;
    transition: top 0.3s;
    z-index: 1;
    top: 0;
    width: 100%;
    min-height: 5em;
    margin-bottom: 1em;
}

.hidden-top {
    top: -200px;
}

.hidden-bottom {
    bottom: -200px;
}

.nav-reader-list {
    margin: 0;
    padding: 0 0.5em;
    min-height: inherit;
    width: 100%;
    @include flex(space-evenly);
    flex-direction: row;
    background-color: $primary-color;
    color: $darkest-color;
    list-style-type: none;
    .title {
        h1 {
            margin: 0;
        }
    }
    p {
        margin: 0.5em 0;
        white-space: nowrap;
    }
    .episode-number > * {
        padding: 0 0.5em;
    }
    .episode {
        padding-right: 0;
    }
    .post-title > * {
        padding: 0 0.5em;
    }
    .icons {
        padding: 0.5em 0;
    }
}

.hidden {
    display: none;
}

.previous,
.next > * {
    cursor: pointer;
}

.icon {
    cursor: pointer;
    padding: 0 0.5em;
    height: 1.5em;
}

.disabled {
    > * {
        color: $dark-color;
    }
}

.sharing {
    position: relative;
    .share-menu {
      z-index: 2;
      position: absolute;
      border-radius: 10px;
      padding: 0.2em;
      background-color: $light-color;
      border: 1px solid $darkest-color;
      min-height: 5em;
      min-width: 10em;
      top: 3em;
      left: unquote("calc(50% - 5em)");
      > * {
        margin: 0.2em;
      }
    }
  }

@media screen and (max-width: 850px) {
    .nav-reader-bottom {
        display: block;
    }
    .nav-reader {
        .arrows {
            display: none;
        }
    }
    .nav-reader-list, .nav-reader-list-bottom {
        width: 100%;
        flex-wrap: wrap;
        p {
            white-space: normal;
        }
        .title {
            padding: 0.5em 0;
            order: 1;
            flex-basis: 50%;
        }
        .icons {
            .heart {
                display: none;
            }
            order: 2;
            flex-basis: 10%;
        }
        .login {
            order: 2;
            flex-basis: 20%;
            padding: 0;
        }
        .arrows {
            margin: 0 10%;
            width: 100%;
            > * {
                padding: 0;
            }
            .episode {
                display: none;
            }
        }
        .post-title {
            width: 100%;
            background-color: $secondary-color;
            order: 4;
            flex-basis: 100%;
        }
    }
}
