@import "../abstracts/variables";
@import "../abstracts/mixins";

.profile {
    width: 100vw;
    min-height: 75vh;
    background-color: $primary-color;
    .container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 2%;
    }
}

.profile-page {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: $light-color;
    grid-template-areas:
        "info div img"
        "info div series";
    grid-template-rows: 12em 1fr;
    grid-template-columns: 1fr 1px 2fr;
    border: 1px solid black;
}
.profile-edit {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: $light-color;
    grid-template-areas:
        "info div edit"
        "info div edit";
    grid-template-rows: 12em 1fr;
    grid-template-columns: 1fr 1px 2fr;
    border: 1px solid black;
    .cover-image {
        display: none;
    }
    .series {
        display: none;
    }
}

.profile-page,
.profile-edit {
    .edit {
        grid-area: edit;
        margin: 2em 3em 2em 3em;
        .edit-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            .cover-label > * {
                padding: 0 0.2em;
            }
            > * {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                .blue {
                    color: $primary-color;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
            wired-input {
                min-width: 50%;
            }
            wired-textarea {
                text-align: left;
            }
            .name {
                > wired-input {
                    min-width: 25%;
                }
            }

            .send-btn {
                box-shadow: inset 0px 1px 0px 0px $primary-color;
                background: linear-gradient(to bottom, $primary-color 5%, $secondary-color 100%);
                background-color: $primary-color;
                color: $darkest-color;
                background-color: $primary-color;
                &:hover {
                    background: linear-gradient(to bottom, $secondary-color 5%, $primary-color 100%);
                    background-color: $secondary-color;
                }
            }
            .upload {
                margin: 0.5em 0;
                p {
                    margin-left: 0.2em;
                }
                .custom-file-input::-webkit-file-upload-button {
                    visibility: hidden;
                }
                .custom-file-input::before {
                    content: "Browse";
                    box-shadow: inset 0px 1px 0px 0px #ffffff;
                    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
                    background-color: #ffffff;
                    border-radius: 6px;
                    border: 1px solid #dcdcdc;
                    display: inline-block;
                    cursor: pointer;
                    color: #666666;
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 0.2em 1em;
                    text-decoration: none;
                    text-shadow: 0px 1px 0px #ffffff;
                    &:hover {
                        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
                        background-color: #f6f6f6;
                    }
                    &:active {
                        position: relative;
                        top: 1px;
                    }
                }
                .custom-file-input:active::before {
                    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
                }
            }
        }
    }

    .divider {
        grid-area: div;
        border-left: 1px solid $darkest-color;
        height: 100%;
        width: 1px;
        margin: 0;
    }

    .profile-info {
        grid-area: info;
        min-height: 80vh;
        height: 80%;
        width: 100%;
        max-width: 100vw;
        white-space: initial;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 5% 0;
        .edit-banner {
            height: 1em;
            width: 80%;
            margin: 0 10%;
        }

        .icon.location {
            cursor: default;
        }
        .panel-profile-pic {
            width: 10em;
            height: 10em;
            border-radius: 50%;
            object-fit: cover;
        }
        .author > h2 {
            color: $light-color;
            text-shadow: 1px 1px 2px $darkest-color;
        }

        .description {
            margin: 0 4em;
        }
    }
    .cover-image {
        grid-area: img;
        background-color: $dark-color;
        //background: linear-gradient($dark-color 20%, $darkest-color);
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
        }
    }
    .series {
        grid-area: series;
        margin: 3% 5%;
        min-height: 22em;
        h2 {
            margin-top: 0;
            text-align: left;
        }
        .list-title {
            margin-left: 7%;
            text-align: left;
        }
        .series-list {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;
            .series-thumbnail {
                position: relative;
                .thumbnail {
                    width: 10em;
                    height: 10em;
                    object-fit: cover;
                    &:hover {
                        transition: all 0.1s;
                        -webkit-transition: all 0.1s;
                        -webkit-filter: brightness(80%);
                    }
                }
            }
            .add-series {
                margin-left: 3em;
                .add-sr-btn {
                    padding: 1em;
                    font-size: 20px;
                }
            }
            .series-admin {
                z-index: 1;
                top: 0.5em;
                right: 0;
                position: absolute;
                > * {
                    width: 2em;
                    margin: 0 0.2em;
                    padding: 0.5em 0.5em;
                }
                .icon {
                    padding: 0;
                    height: 1em;
                    width: 1em;
                }
                .add-ep-btn {
                    box-shadow: inset 0px 1px 0px 0px $success-color;
                    background: linear-gradient(to bottom, rgb(100, 223, 171) 5%, $success-color 100%);
                    background-color: rgb(100, 223, 171);
                    border-radius: 6px;
                    border: 1px solid rgb(100, 223, 171);
                    cursor: pointer;
                    font-family: Arial;
                    text-decoration: none;
                    &:hover {
                        background: linear-gradient(to bottom, $success-color 5%, rgb(100, 223, 171) 100%);
                        background-color: $success-color;
                    }
                    &:active {
                        position: relative;
                        top: 1px;
                    }
                }
            }
            .series-info {
                width: 10em;
                flex-wrap: wrap;
                > * {
                    padding: 0 0.5em;
                }
            }
        }
    }

    .series-list {
        list-style: none;
        .add-series {
            min-height: 10em;
        }
    }
}

@media screen and (max-width: 850px) {
    .series-list {
        @include flex(center);
    }

    .profile-page {
        grid-template-areas:
            "img"
            "info"
            "div"
            "series";
        grid-template-columns: auto;
        grid-template-rows: 12em auto;
    }

    .profile-edit {
        grid-template-areas:
            "img"
            "info"
            "edit";
        grid-template-columns: 100%;
        grid-template-rows: 12em auto;
        .cover-image {
            display: flex;
        }
        .profile-info {
            margin: 0;
        }
        .stats,
        .description,
        .location,
        .link,
        .location {
            display: none;
        }
    }

    .profile-page,
    .profile-edit {
        .edit-banner {
            z-index: 2;
            color: $light-color;
            text-shadow: 1px 1px 2px $darkest-color;
            position: absolute;
            top: 3em;
            right: 0.5em;
        }
        .profile-info {
            min-height: initial;
        }
        .series {
            width: 100%;
            margin: 1em 0;
            h2 {
                text-align: center;
            }
            .list-title {
                margin-left: 0;
                text-align: center;
            }
            .series-list {
                justify-content: center;
                align-items: flex-start;
            }
        }
        .divider {
            border-top: 1px solid $darkest-color;
            height: 1px;
            width: 100%;
        }
        .author {
            position: absolute;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            width: 100%;
            height: 12em;
            top: 1em;
            left: 0;
            .panel-profile-pic {
                width: 6em;
                height: 6em;
            }
        }

        .links {
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 650px) {
    wired-textarea {
        width: 100%;
    }
    .profile-page {
        .series {
            width: 80%;
            margin: 1em 10%;
            .list-title {
                margin-left: 7%;
                text-align: left;
            }
            .series-list {
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 100%;
                li {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .series-thumbnail {
                        img {
                            height: 7em;
                            width: 7em;
                        }
                    }
                    .series-info {
                        width: 100%;
                        text-align: left;
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0 0 0 1em;
                        .series-title {
                            white-space: normal;
                        }
                    }
                }
                .add-series {
                    min-height: 7em;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .profile-page {
        .series {
            .series-list {
                li {
                    .series-thumbnail {
                        display: flex;
                        .thumbnail {
                            height: 5em;
                            width: 5em;
                        }
                        .series-admin {
                            transform: scale(0.7);
                            top: -0.2em;
                            right: -1.6em;
                        }
                    }
                }
            }
        }
    }
}
