@import '../abstracts/variables';
@import '../abstracts/mixins';

.heroCover {
  z-index: 2;
  position: absolute;
  background-color: $primary-color;
  width: 100vw;
  height: 0.8em;
}

.promo {
  position: relative;
  color: $darkest-color;
  height: auto;
  width: 100%;
  margin: 0 0 1em 0;
}

.promoBanner {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style-type: none;
  height: 100%;
  padding: 0;
  margin: 0 0.5em;
  .promoBox {
    flex: 1;
    margin: 0.5em 0.5em;
    height: 6em;
    min-width: 10em;
    max-width: 15em;
    border: 2px double $darkest-color;  
    overflow: hidden;
    &:hover {
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
      -webkit-filter: brightness(80%);
    }
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      font-family: $primary-font;
    }
  }
  .promoLink {
    max-width: 100%;
    flex-direction: column;
    .here {
      color: $darkest-color;
    }
    h2, p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 830px) {
  .promoBanner {
    .promoLink {
      order: -1;
      flex-basis: 100%;
    }
    .empty {          
      display: none;
    }
  }
}
