@import "../abstracts/variables";
@import "../abstracts/mixins";

.reader {
    width: 100vw;
    margin: 0;
    padding: 0;
    wired-card {
        width: 95%;
        padding: 1em 0;
    }
    .content-body {
        > * {
            width: 70%;
            padding: 0 15%;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    li {
        list-style: none;
    }
    ul {
        padding: 0;
    }
}

.comic-body {
    font-size: 0;
    hr {
        display: none;
    }
}


@media screen and (max-width: 850px) {
    .reader {
        .content-body {
            > * {
                width: 90%;
                padding: 0 5%;
            }
        }
    }
}
