@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/helpers";

.App {
  font-family: $secondary-font;
  margin: 0;
  padding: 0;
  font-size: 17px;
  width: 100vw;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
  background-color: white;
  h1,
  h2 {
    font-family: $primary-font;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $dark-color;
    }
  }
}

